<!-- File: modules/custom/alien_dashboard/templates/alien-dashboard.html.twig -->
<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">Trip Ticket Dashboard</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">GSD Monitoring</li>
		</ol>
		<div class="row">
			<div class="col-xl-3 col-md-6">
				<div class="card bg-primary text-white mb-4">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center">
							<span class="h5 mb-2">Pending Trips</span>
							<span class="display-4">{{ num_users }}</span>
						</div>
					</div>
					<div class="card-footer d-flex align-items-center justify-content-between">
						<a class="small text-white stretched-link" href="#">View All Users</a>
						<div class="small text-white">
							<i class="fas fa-angle-right"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-warning text-white mb-4">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center">
							<span class="h5 mb-2">Completed</span>
							<span class="display-4">{{ num_users }}</span>
						</div>
					</div>
					<div class="card-footer d-flex align-items-center justify-content-between">
						<a class="small text-white stretched-link" href="#">View All Checks</a>
						<div class="small text-white">
							<i class="fas fa-angle-right"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-success text-white mb-4">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center">
							<span class="h5 mb-2">Total of Unlocks</span>
							<span class="display-4">{{ num_users }}</span>
						</div>
					</div>
					<div class="card-footer d-flex align-items-center justify-content-between">
						<a class="small text-white stretched-link" href="#">View All Unlocks</a>
						<div class="small text-white">
							<i class="fas fa-angle-right"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-danger text-white mb-4">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center">
							<span class="h5 mb-2">Waiting</span>
							<span class="display-4">{{ num_users }}</span>
						</div>
					</div>
					<div class="card-footer d-flex align-items-center justify-content-between">
						<a class="small text-white stretched-link" href="#">View All Unlocks</a>
						<div class="small text-white">
							<i class="fas fa-angle-right"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="card mb-4">
			<div class="card-header bg-primary">
				<p class="text-start text-white">
					<i class="fas fa-table me-1 text-white"></i>
					Trip Ticket
				</p>
			</div>
			<div class="card-body">
				<div class="card mb-4">
						{{ drupal_view('list_of_tripticket', 'block_1') }}
				</div>
			</div>
		</div>
		
	</div>
</main>
